<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PendoElement - Guides</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="https://use.typekit.net/awf7pyi.css">
  <link rel="stylesheet" href="css/pendoelement.css">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
</head>
<body>
  <div id="app">
    <!-- breadcrumb -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">Guide 1</el-breadcrumb-item>
      <el-breadcrumb-item>Guide 2</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- row -->
    <el-row :gutter="16">
      <!-- col header -->
      <el-col :span="16">
        <h1 class="page-title">Guides</h1>
      </el-col>
      <!-- col coa -->
      <el-col :span="8">
        <el-button type="primary" style="float: right;">Manage Guides</el-button>
      </el-col>
    </el-row>
    <!-- tabs -->
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="Tagged" name="first">
        <!-- row -->
        <el-row :gutter="16">
          <!-- col segment -->
          <el-col :xs="24" :sm="24" :md="8" :lg="4" :xl="4">
            <el-form ref="form" :model="form">
              <el-form-item label="Segment">
                <el-select v-model="value3" placeholder="Choose Segment">
                  <el-option label="Segment 1" value="Segment1"></el-option>
                  <el-option label="Segment 2" value="Segment2"></el-option>
                  <el-option label="Segment 3" value="Segment3"></el-option>
                  <el-option label="Segment 4" value="Segment4"></el-option>
                  <el-option label="Segment 5" value="Segment5"></el-option>
                  <el-option label="Segment 6" value="Segment6"></el-option>
                  <el-option label="Segment 7" value="Segment7"></el-option>
                  <el-option label="Segment 8" value="Segment8"></el-option>
                  <el-option label="Segment 9" value="Segment9"></el-option>
                </el-select>
              </el-form-item>
            </el-form>
          </el-col>
          <!-- col date -->
          <el-col :xs="24" :sm="24" :md="8" :lg="4" :xl="4">
            <el-form ref="form" :model="form">
              <el-form-item label="Date Range">
                <el-date-picker v-model="value2" type="daterange" unlink-panels range-separator="To" start-placeholder="Start date" end-placeholder="End date" :picker-options="pickerOptions"></el-date-picker>
              </el-form>
            </el-form-item>
          </el-col>
          <!-- col applications -->
          <el-col :xs="24" :sm="24" :md="8" :lg="4" :xl="4">
            <el-form ref="form" :model="form">
              <el-form-item label="Application">
                <el-select v-model="value4" placeholder="Choose Application">
                  <el-option label="All Applications" value="AllApplications"></el-option>
                  <el-option label="Web Applications" value="WebApplications"></el-option>
                  <el-option label="Mobile Applications" value="MobileApplications"></el-option>
                  <el-divider></el-divider>
                  <el-option label="Application 1" value="Application1"></el-option>
                  <el-option label="Application 2" value="Application2"></el-option>
                  <el-option label="Application 3" value="Application3"></el-option>
                  <el-option label="Application 4" value="Application4"></el-option>
                  <el-option label="Application 5" value="Application5"></el-option>
                  <el-option label="Application 6" value="Application6"></el-option>
                </el-select>
              </el-form>
            </el-form-item>
          </el-col>
          <!-- col accounts -->
          <el-col :xs="24" :sm="24" :md="8" :lg="4" :xl="4">
            <el-form ref="form" :model="form">
              <el-form-item label="Accounts">
                <el-select v-model="value5" placeholder="Choose Account">
                  <el-option label="All Accounts" value="AllAccounts"></el-option>
                  <el-divider></el-divider>
                  <el-option label="Account 1" value="Account1"></el-option>
                  <el-option label="Account 2" value="Account2"></el-option>
                  <el-option label="Account 3" value="Account3"></el-option>
                  <el-option label="Account 4" value="Account4"></el-option>
                  <el-option label="Account 5" value="Account5"></el-option>
                  <el-option label="Account 6" value="Account6"></el-option>
                  <el-option label="Account 7" value="Account7"></el-option>
                  <el-option label="Account 8" value="Account8"></el-option>
                  <el-option label="Account 9" value="Account9"></el-option>
                </el-select>
              </el-form>
            </el-form-item>
          </el-col>
          <!-- col groups -->
          <el-col :xs="24" :sm="24" :md="8" :lg="4" :xl="4">
            <el-form ref="form" :model="form">
              <el-form-item label="Group">
                <el-select v-model="value6" placeholder="Choose Group">
                  <el-option label="Group 1" value="Group1"></el-option>
                  <el-option label="Group 2" value="Group2"></el-option>
                  <el-option label="Group 3" value="Group3"></el-option>
                  <el-option label="Group 4" value="Group4"></el-option>
                  <el-option label="Group 5" value="Group5"></el-option>
                  <el-option label="Group 6" value="Group6"></el-option>
                </el-select>
              </el-form>
            </el-form-item>
          </el-col>
          <!-- col search -->
          <el-col :xs="24" :sm="24" :md="8" :lg="4" :xl="4">
            <el-form ref="form" :model="form">
              <el-form-item label="Search">
                <el-input placeholder="Search Guides..." prefix-icon="el-icon-search" v-model="input2">
                </el-input>
              </el-form>
            </el-form-item>
          </el-col>
        </el-row>
        <!-- row -->
        <el-row :gutter="16">
          <el-col :span="24">
            <el-card class="box-card">
              <div slot="header">
                <span style="font-size: 1.3em;">Pages List</span>
                <el-dropdown trigger="click" style="float: right; padding: 3px 0;">
                  <span class="el-dropdown-link">
                    Actions<i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item icon="el-icon-edit">Edit Columns</el-dropdown-item>
                    <el-dropdown-item icon="el-icon-download">Download CSV</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
              <el-table :data="tableData" style="width: 100%" height="80vh">
                <el-table-column fixed sortable label="Guide">
                  <div slot-scope="{row}">
                    <button type="button" class="el-button el-button--text">{{row.Guide}}</button>
                  </div>
                </el-table-column>
                <el-table-column sortable prop="Group" label="Group"></el-table-column>
                <el-table-column sortable prop="Application" label="Application"></el-table-column>
                <el-table-column sortable prop="Visitors" label="Visitors"></el-table-column>
                <el-table-column sortable prop="Accounts" label="Accounts"></el-table-column>
                <el-table-column sortable prop="PageViews" label="Guide Views"></el-table-column>
                <el-table-column sortable prop="Average" label="Average Time Per Day"></el-table-column>
              </el-table>
            </el-card>
          </el-col>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="Untagged" name="second">Untagged</el-tab-pane>
    </el-tabs>
  </app>
  <script>
  ELEMENT.locale(ELEMENT.lang.en)
  var Main = {
    data() {
      return {
        //datepicker
        pickerOptions: {
          shortcuts: [{
            text: 'Today',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime());
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last Week',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last Month',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        value1: '',
        value2: '',
        //dropdowns
        value3: [],
        value4: [],
        value5: [],
        value6: [],
        //tab
        activeName: 'first',
        //table
        tableData: [{
          Guide: 'Another Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '100',
          Accounts: '234',
          PageViews: '74',
          Average: '64'
        }, {
          Guide: 'Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '235',
          Accounts: '234',
          PageViews: '234',
          Average: '5'
        }, {
          Guide: 'Some Guide Name',
          Group: 'Some Group Name',
          Application: 'Application',
          Visitors: '234',
          Accounts: '234',
          PageViews: '234',
          Average: '234'
        }, {
          Guide: 'Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '85',
          Accounts: '234',
          PageViews: '234',
          Average: '2'
        }, {
          Guide: 'Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '47',
          Accounts: '234',
          PageViews: '36',
          Average: '234'
        }, {
          Guide: 'Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '234',
          Accounts: '46',
          PageViews: '36',
          Average: '234'
        }, {
          Guide: 'Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '85',
          Accounts: '35',
          PageViews: '99',
          Average: '234'
        }, {
          Guide: 'Guide Name',
          Group: 'Some Group Name',
          Application: 'Application',
          Visitors: '26',
          Accounts: '7',
          PageViews: '3',
          Average: '7'
        }, {
          Guide: 'Some Guide Name',
          Group: 'Another  Group Name',
          Application: 'Application',
          Visitors: '135',
          Accounts: '234',
          PageViews: '36',
          Average: '6'
        }, {
          Guide: 'Another Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '74',
          Accounts: '52',
          PageViews: '142',
          Average: '25'
        }, {
          Guide: 'Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '88',
          Accounts: '47',
          PageViews: '53',
          Average: '234'
        }, {
          Guide: 'Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '25',
          Accounts: '36',
          PageViews: '84',
          Average: '234'
        }, {
          Guide: 'Another Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '84',
          Accounts: '2',
          PageViews: '6',
          Average: '26'
        }, {
          Guide: 'Guide Name',
          Group: 'Another  Group Name',
          Application: 'Application',
          Visitors: '124',
          Accounts: '9',
          PageViews: '4',
          Average: '234'
        }, {
          Guide: 'Some Guide Name',
          Group: 'Some Group Name',
          Application: 'Application',
          Visitors: '26',
          Accounts: '3',
          PageViews: '8',
          Average: '7'
        }, {
          Guide: 'Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '5',
          Accounts: '44',
          PageViews: '35',
          Average: '36'
        }, {
          Guide: 'Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '34',
          Accounts: '9',
          PageViews: '74',
          Average: '737'
        }, {
          Guide: 'Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '23',
          Accounts: '26',
          PageViews: '73',
          Average: '234'
        }, {
          Guide: 'Another Guide Name',
          Group: 'Group Name',
          Application: 'Application',
          Visitors: '36',
          Accounts: '146',
          PageViews: '74',
          Average: '373'
        }, {
          Guide: 'Guide Name',
          Group: 'Some Group Name',
          Application: 'Application',
          Visitors: '234',
          Accounts: '34',
          PageViews: '456',
          Average: '46'
        }, {
          Guide: 'Some Guide Name',
          Group: 'Another Group Name',
          Application: 'Application',
          Visitors: '345',
          Accounts: '34',
          PageViews: '436',
          Average: '25'
        }]
      }
    }
  };
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#app');
</script>
</body>
</html>
