<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PendoElement - NPS</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="https://use.typekit.net/awf7pyi.css">
  <link rel="stylesheet" href="css/pendoelement.css">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
</head>
<body>
  <div id="app">
    <!-- breadcrumb -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">Page 1</el-breadcrumb-item>
      <el-breadcrumb-item>Page 2</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- row -->
    <el-row :gutter="16">
      <!-- col header -->
      <el-col :span="16">
        <h1 class="page-title">NPS</h1>
      </el-col>
      <!-- col coa -->
      <el-col :span="8">
        <el-button type="primary" style="float: right;">Create NPS</el-button>
      </el-col>
    </el-row>
    <!-- row -->
    <el-row :gutter="16">
      <!-- col segment -->
      <el-col :xs="24" :sm="24" :md="8" :lg="4" :xl="4">
        <el-form ref="form" :model="form">
          <el-form-item label="Segment">
            <el-select v-model="value3" placeholder="Choose Segment">
              <el-option label="Segment 1" value="Segment1"></el-option>
              <el-option label="Segment 2" value="Segment2"></el-option>
              <el-option label="Segment 3" value="Segment3"></el-option>
              <el-option label="Segment 4" value="Segment4"></el-option>
              <el-option label="Segment 5" value="Segment5"></el-option>
              <el-option label="Segment 6" value="Segment6"></el-option>
              <el-option label="Segment 7" value="Segment7"></el-option>
              <el-option label="Segment 8" value="Segment8"></el-option>
              <el-option label="Segment 9" value="Segment9"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </el-col>
      <!-- col date -->
      <el-col :xs="24" :sm="24" :md="8" :lg="4" :xl="4">
        <el-form ref="form" :model="form">
          <el-form-item label="Date Range">
            <el-date-picker v-model="value2" type="daterange" unlink-panels range-separator="To" start-placeholder="Start date" end-placeholder="End date" :picker-options="pickerOptions"></el-date-picker>
          </el-form-item>
        </el-form>
      </el-col>
      <!-- col applications -->
      <el-col :xs="24" :sm="24" :md="8" :lg="4" :xl="4">
        <el-form ref="form" :model="form">
          <el-form-item label="Application">
            <el-select v-model="value4" placeholder="Choose Application">
              <el-option label="All Applications" value="AllApplications"></el-option>
              <el-option label="Web Applications" value="WebApplications"></el-option>
              <el-option label="Mobile Applications" value="MobileApplications"></el-option>
              <el-divider></el-divider>
              <el-option label="Application 1" value="Application1"></el-option>
              <el-option label="Application 2" value="Application2"></el-option>
              <el-option label="Application 3" value="Application3"></el-option>
              <el-option label="Application 4" value="Application4"></el-option>
              <el-option label="Application 5" value="Application5"></el-option>
              <el-option label="Application 6" value="Application6"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </el-col>
      <!-- col groups -->
      <el-col :xs="24" :sm="24" :md="8" :lg="4" :xl="4">
        <el-form ref="form" :model="form">
          <el-form-item label="Group">
            <el-select v-model="value6" placeholder="Choose Group">
              <el-option label="Group 1" value="Group1"></el-option>
              <el-option label="Group 2" value="Group2"></el-option>
              <el-option label="Group 3" value="Group3"></el-option>
              <el-option label="Group 4" value="Group4"></el-option>
              <el-option label="Group 5" value="Group5"></el-option>
              <el-option label="Group 6" value="Group6"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </el-col>
      <!-- col search -->
      <el-col :xs="24" :sm="24" :md="16" :lg="8" :xl="8">
        <el-form ref="form" :model="form">
          <el-form-item label="Search">
            <el-input placeholder="Search NPS..." prefix-icon="el-icon-search" v-model="input2">
            </el-input>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <!-- row -->
    <el-row :gutter="16">
      <el-col :span="24">
        <el-card class="box-card">
          <div slot="header">
            <span style="font-size: 1.3em;">NPS List</span>
          </div>
          <el-table :data="tableData" style="width: 100%" height="80vh">
            <el-table-column fixed sortable label="NPS">
              <div slot-scope="{row}">
                <button type="button" class="el-button el-button--text">{{row.NPS}}</button>
              </div>
            </el-table-column>
            <el-table-column sortable prop="Group" label="Group"></el-table-column>
            <el-table-column sortable prop="Application" label="Application"></el-table-column>
            <el-table-column sortable prop="Views" label="Views"></el-table-column>
            <el-table-column sortable prop="Submissions" label="Submissions"></el-table-column>
            <el-table-column sortable prop="StartDate" label="Start Date"></el-table-column>
            <el-table-column sortable prop="Frequency" label="Frequency"></el-table-column>
            <el-table-column sortable prop="NPSScore" label="NPS Score"></el-table-column>
            <el-table-column sortable prop="Status" label="Status"></el-table-column>
          </el-table>
        </el-card>
      </el-col>
    </el-row>
  </app>
  <script>
  ELEMENT.locale(ELEMENT.lang.en)
  var Main = {
    data() {
      return {
        //datepicker
        pickerOptions: {
          shortcuts: [{
            text: 'Today',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime());
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last Week',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Last Month',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        value1: '',
        value2: '',
        //dropdowns
        value3: [],
        value4: [],
        value5: [],
        value6: [],
        //tab
        activeName: 'first',
        //table
        tableData: [{
          NPS: 'Another NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '100',
          Submissions: '234',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '74',
          Status: 'Draft'
        }, {
          NPS: 'NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '235',
          Submissions: '234',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '234',
          Status: 'Staged'
        }, {
          NPS: 'Some NPS Name',
          Group: 'Some Group Name',
          Application: 'Application',
          Views: '234',
          Submissions: '234',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '234',
          Status: 'Draft'
        }, {
          NPS: 'NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '85',
          Submissions: '234',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '234',
          Status: 'Draft'
        }, {
          NPS: 'NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '47',
          Submissions: '234',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '36',
          Status: 'Draft'
        }, {
          NPS: 'NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '234',
          Submissions: '234',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '234',
          Status: 'Draft'
        }, {
          NPS: 'NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '85',
          Submissions: '234',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '99',
          Status: 'Draft'
        }, {
          NPS: 'NPS Name',
          Group: 'Some Group Name',
          Application: 'Application',
          Views: '26',
          Submissions: '7',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '3',
          Status: 'Staged'
        }, {
          NPS: 'Some NPS Name',
          Group: 'Another  Group Name',
          Application: 'Application',
          Views: '135',
          Submissions: '234',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '36',
          Status: 'Staged'
        }, {
          NPS: 'Another NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '234',
          Submissions: '113',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '234',
          Status: 'Staged'
        }, {
          NPS: 'NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '88',
          Submissions: '52',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '53',
          Status: 'Draft'
        }, {
          NPS: 'NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '14',
          Submissions: '23',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '7',
          Status: 'Draft'
        }, {
          NPS: 'Another NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '84',
          Submissions: '2',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '6',
          Status: 'Staged'
        }, {
          NPS: 'NPS Name',
          Group: 'Another  Group Name',
          Application: 'Application',
          Views: '124',
          Submissions: '234',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '234',
          Status: 'Staged'
        }, {
          NPS: 'Some NPS Name',
          Group: 'Some Group Name',
          Application: 'Application',
          Views: '85',
          Submissions: '5',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '52',
          Status: 'Draft'
        }, {
          NPS: 'NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '234',
          Submissions: '44',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '234',
          Status: 'Draft'
        }, {
          NPS: 'NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '67',
          Submissions: '34',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '74',
          Status: 'Draft'
        }, {
          NPS: 'NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '23',
          Submissions: '58',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '25',
          Status: 'Draft'
        }, {
          NPS: 'Another NPS Name',
          Group: 'Group Name',
          Application: 'Application',
          Views: '85',
          Submissions: '234',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '234',
          Status: 'Staged'
        }, {
          NPS: 'NPS Name',
          Group: 'Some Group Name',
          Application: 'Application',
          Views: '234',
          Submissions: '34',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '456',
          Status: 'Staged'
        }, {
          NPS: 'Some NPS Name',
          Group: 'Another Group Name',
          Application: 'Application',
          Views: '345',
          Submissions: '34',
          StartDate: 'Jun 10, 2019',
          Frequency: 'One Time Only',
          NPSScore: '436',
          Status: 'Draft'
        }]
      }
    }
  };
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#app');
</script>
</body>
</html>
